:root {
    --h2-size: 36px;
    --h3-size: 24px;
    --p-size: 16px;

    --section-padding: 20px 10% 20px 10%;
}


.header{
    background-color: orange;
    height:100px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

#navbar{
    justify-self: right;
    grid-column: 2/3;
    display: flex;
    gap: 30px;
    margin-right: 30px;

}

.nav-item-container {
    background-color: green;
    margin: auto;
    display: flex;
    justify-content: center;
    flex: 1;
}



#logo-container{
    justify-self: left;
    grid-column: 1/2;

    background-color: pink;
    height: 50px;
    width: 100px;
    margin: auto;
    margin-left: 30px;
}
.section1{
    background-color: green;
    height: 400px;

    display: grid;
    grid-template-columns: 2fr 1fr;

    padding: var(--section-padding);
}


#section1-img{
    width: auto;
    height: 50vh;
}

.section2{
    background-color: pink;
    height: 400px;

    padding: var(--section-padding); 
}

.footer{
    background-color: green;
    height: 200px;
}

.h3-text{
    font-size: var(--h3-size);
}

.paragraph{
    font-size: var(--p-size);
}

